body {
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  height: 500px;
}

header nav {
  height: 100px;
  background: white;
  box-shadow: none;
}

nav .brand-logo {
  height: 100px;
  left: 14%;
}
nav .brand-logo img {
  width: 52px;
}

header nav ul {
  height: 100%;
}

/* header ul li {
    height: 100%;
    
} */
header ul a {
  color: grey;
}

.header-main-pic {
  width: 100%;
  height: 400px;
  background-image: url('../assets/images/Banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.input-field.input-container {
  height: 100px;
  float: none;
  display: flex;
  margin: auto;
}

.input-field > #search {
  margin-top: 25px;
}

.input-container i {
  margin-top: 45px;
  margin-right: 15px;
}

footer.page-footer {
  height: 80px;
  background: grey;
  bottom: 0;
}

/* post.html */
.post-pic {
  width: 100%;
  height: 400px;
  background-image: url('https://picsum.photos/1000/400');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}